@import "vars";

.wiki-content-container {
  overflow: hidden;

  a {
    color: @cyan;

    &:hover {
      opacity: 0.8;
    }

    &:visited,
    &:focus,
    &:active {
      color: @cyan;
    }
  }

  div[class*="language-"] {
    background-color: @darker;

    &.line-numbers-mode {
      &:after {
        background-color: @darker;
      }
    }
  }

  .demo-show {
    .demo-wrapper {
      color: @darker;
      background-color: @white;
    }
  }
}

.router-anim-enter-active {
  animation: coming 0.5s;
  animation-delay: 0.5s;
  opacity: 0;
}

.router-anim-leave-active {
  animation: going 0.5s;
}

@keyframes going {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50px);
    opacity: 0;
  }
}

@keyframes coming {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
